@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar barra de scroll para mejorar el diseño en móviles */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}